<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/marcas"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!marcas.id else elseBlock1">Crear</ion-title>
    <ng-template #elseBlock1>
      <ion-title>Detalle</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="deleteMarca()" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #marcasForm="ngForm">
    <ion-item>
      <ion-label position="fixed">Nombre</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="marcas.nombre"
        name="nombre"
        #nombre="ngModel"
        required
      ></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
      <div *ngIf="nombre.errors.required">
        Nombre es requerido
      </div>
      <div *ngIf="nombre.errors.minlength">
        Nombre debe tener al menos 4 caracteres
      </div>
    </div>
    <ion-item>
      <ion-label position="fixed">#Serie</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="marcas.numero_serie"
        name="numero_serie"
        #numero_serie="ngModel" 
        required
      ></ion-input>
    </ion-item>
    <div class="alert alert-danger" *ngIf="numero_serie.invalid && (numero_serie.dirty || numero_serie.touched)">
      <div *ngIf="numero_serie.errors.required">
        Numero de Serie es requerido
      </div>
    </div>
    <div class="ion-padding">
      <ion-button
        expand="block"
        role="button"
        (click)="create()"
        class="ion-no-margin"
        *ngIf="!marcas.id else elseBlock"
        [disabled]="!marcasForm.form.valid"
        >Grabar</ion-button
      >

      <ng-template #elseBlock>
        <ion-button
          expand="block"
          role="button"
          (click)="update()"
          class="ion-no-margin"
          [disabled]="!marcasForm.form.valid"
          >Editar</ion-button
        >
      </ng-template>
    </div>
  </form>
</ion-content>
